# Ignore node_modules directory
node_modules/

# Ignore TypeScript compiled files
dist/

# Ignore environment-specific files
.env

# Ignore Elastic Beanstalk deployment files
.ebextensions/.config-metadata
.ebextensions/*.bak
.ebextensions/*.config.deployed
.ebextensions/*.txt
.ebextensions/*.zip

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-*
*.swp
*.swo

# Ignore logs
logs/
*.log

# Ignore package-lock.json
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
