container_commands:
  01_npm_install:
    command: "npm install"
  02_node_command:
    command: "npm start"

option_settings:
  - namespace: aws:elasticbeanstalk:container:nodejs
    option_name: NodeCommand
    value: "npm start"

  aws:elasticbeanstalk:application:environment:
    AWS_REGION: us-east-1
    DYNAMODB_TABLE_NAME: cloudhero
